{% include "./base.html" %}
{% load static %}
{% block body %}
<head>
    <link rel="stylesheet" href={% static "styles.css" %}>
</head>

<body onload="Main()">
    <div class="container" onclick="Hide_userDiv()">

        <nav class="navbar">
            <button class="icon--btn" onclick="barsToggle()">
                <img class="navbar--icon" width="30px" src={% static "/assets/bars.svg" %} class="bar" alt="bars-image">
            </button>  
            <div class="navbar--title">ONLINE FILE CONVERTER</div>
            <div class="user">
                <button class="icon--btn">
                    <img class="navbar--icon" style="filter: brightness(0.6);" width="40px" src={% static "/assets/profile.png" %} class="account" alt="account-image">
                </button>
                
            </div>
            
            
        </nav>
        
        <div class="body">

            {% comment %} Oldalsó panel {% endcomment %}
            <div class="bars--div">
                <div class="bars--converters">
                    <h1>Konvertálók</h1>
                    <ul>
                        <li><button onclick="setSpace(id)" id="1" class="spaceBtn spaceBtn--active">PDF Címke Egyesítő</button></li>
                        <li><button onclick="setSpace(id)" id="2" class="spaceBtn">Hamarosan</button></li>
                        <li><button onclick="setSpace(id)" id="3" class="spaceBtn">Hamarosan</button></li>
                    </ul>
                </div>
                <div class="bars--guide">
                    <button onclick="setSpace(id)" id="4" class="spaceBtn guideBtn">Használati útmutató</button>
                </div>
            </div>

            <div class="space">

                {% comment %} PDF Cimke egyesítő {% endcomment %}
                <div class="space--1">                 
                    <div class="space1--title">PDF Címke Egyesítő</div>
                    <div class="space1--illustration">
                        <img src={% static "/assets/illustration.png" %} alt="illustration">
                    </div>
                    {% if file %}
                    <div class="space1--controlDownload">
                        <a href="download/{{file}}" download="file"><button class=" BigBtn space1--download ">Letöltés</button></a>
                        <a href="download/{{file}}" target="_blank"><button class="space1--preview">Előnézet</button></a>
                    </div>
                    {% else %}
                    <form class="space1--control" action={% url "index" %} method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="fileBox">
                            <label for="fileInput1" class="BigBtn fileBtn">PDF Feltöltése</label> 
                            <input type="file" style="display: none;"  name="file" id="fileInput1">
                            <input type="hidden" name="converter" value="cimke" >
                            <span class="fileBtn--fileName1">File name</span>
                        </div>
                        

                        <div class="layoutBox" style="display: none;">
                            <table>
                                <tr>
                                    <td>
                                        <label for="rows">Sorok:</label>
                                    </td>
                                    <td>
                                        <input type="number" class="layoutInput" name="rows" id="rows" min="1" value="5" max="5">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="cols">Oszlopok:</label>
                                    </td>
                                    <td>
                                        <input type="number" class="layoutInput" name="cols" id="cols" min="1" value="4" max="4">
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <button onclick="Convert_display()" type="submit" id="ConvertBtn" class="BigBtn" style="display: none;">Konvertálás</button>
                        <div id="convert" style="position: relative; display: none;">
                            <div class="convertingCircle"></div>
                            <span class="convert--title">Kérlek várj...</span>
                        </div>
                        
                    </form>
                    {% endif %}
                </div>


                <div class="space--2">
                    <h3>EZ A KOVERTER JELENLEG MÉG NEM ELÉRHETŐ</h3>
                </div>

                <div class="space--3">
                    <h3>EZ A KOVERTER JELENLEG MÉG NEM ELÉRHETŐ</h3>
                </div>

                {% comment %} Használati útmutató {% endcomment %}
                <div class="space--4">
                    <h1 class="guideTitle">PDF Címke Egyesítő</h1><br>
                    <p>A PDF Címke Egyesítő minden olyan PDF dokumentumot elfogad, amely oldalainak bal felső sarkában található egy címke. A "konvertálás" gombra kattintva a program egyesíti ezeket a címkéket egy másik PDF fájlba. Az egyesítés sorait és oszlopait a konvertálás előtt, a "sorok" és "oszlopok" mezőkben lehet személyre szabni.</p>
                    <br>
                    <p>A konvertálás befejeztével a kész PDF állományt a "Letöltés" gombra kattintva egyből le lehet tölteni, illetve az "Előnézet" gomb segítségével letöltés nélkül meg lehet nyitni</p>
                    <br>
                    <h1 class="guideTitle">Hol tudom visszanézni az elkészült fájljaimat?</h1><br>
                    <p>Az elkészült fájlokat bármikor vissza lehet nézni a jobb felső sarokban lévő "profil" ikonra kattintva. A megjelenő menüben a felhasználó neve alatt található "fájlok" menüpontban vissza lehet nézni a legutóbbi fájljait, megnézni vagy akár újra letölteni azokat.</p>
                </div>

                {% comment %} Felhasználó Fájlok {% endcomment %}
                {% if files %}  
                <div class="space--5 filesDiv">               
                    {% for file in files %}
                        <div class="filesDiv--files">
                            <div class="files--fileName">
                                {{file.filename|cut:user.username|cut:'_' }}
                            </div>
                            <a href="/download/{{file.filename}}" class="files--control" download="file">
                                <img width="20px" src={% static "assets/download.svg" %} >
                            </a>
                            <a href="/download/{{file.filename}}" class="files--control" target="_blank">
                                <img width="20px" src={% static "assets/eye.svg" %} alt="">
                            </a>
                        </div>
                    {% endfor %}   
                </div>  
                {% else %}
                <div class="space--5">
                    <p>Nincsenek fájlok</p>
                </div>                                 
                {% endif %}                               
            </div>
        </div>
    </div>

    {% comment %} Profile ikon menü {% endcomment %}
    <button class="userToggleBtn" onclick="userDiv_toggle()"></button>
    <div class="userDiv">
        <div class="userName">{{user.username}}</div>
        <button class="spaceBtn filesBtn" id="5" onclick="setSpace(id)">Fájlok</button>
        <div class="logout">
            <a href={% url "logout" %}>KIJELENTKEZÉS</a>
        </div>
    </div>
    {% comment %} Script {% endcomment %}
    <script src={% static "index.js" %}></script>
</body>

{% endblock body %}
