{% include "./base.html" %}
{% load static %}
{% block body %}

<head>
    <link rel="stylesheet" href={% static "login_styles.css" %}>
</head>

<body>
    <div class="auth--container">
        <div class="title--div">
            <div class="title--appName title--divChild">ONLINE FILE CONVERTER</div>
            <div class="title--more title--divChild">
                <div class="title--p">Módosítson fájlokat egyetlen gombnyomással</div>
                <img src={% static "assets/file.png" %} width="120px" class="title--img"></img>
            </div>
        </div>
        <div class="form--div">
            <div class="form--box">
                <div class="form--title">REGISZTRÁLJ MOST!</div>        
                    <form class="form--main form--reg--main" action={% url "register_page" %} method="POST">
                        {% csrf_token %}
                        {% if error %}
                            <span style="font-size: 12px; color: rgb(255, 255, 255);">{{error}}</span>
                        {% endif %} 
                        <input class="inputField" type="text" name="username" id="username" placeholder="Felhasználó név">
                        <input class="inputField" type="email" name="email" id="email" placeholder="E-mail cim">
                        <input class="inputField" type="password" name="password" id="password" placeholder="jelszó">
                        <button class="submit" type="submit">Regisztráció</button>
                    </form>  
                <div class="form--link form--reg--link">
                    <a href={% url "login_page" %}>Már van fiókom</a>
                </div>   
            </div>
        </div>
    </div>
</body>

{% endblock body %}
